<h1>Create a new Song</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="song[name]" id="song_name">
 
  <input type="submit" value="Create Song">
</form>
